@media (max-width: 1070.9px){

    .save__info{
        flex-direction: column;
    }

    .save__content{
        margin: 0 auto;
    }

    .company__items{
        flex-direction: column;
    }

    .company__item{
        margin: 0 auto;
    }

    .company__item:not(:last-child){
        margin-bottom: 10px;
    }

}

@media (max-width: 989.9px){

    .header{
        padding: 30px 0;
    }

}

@media (max-width: 972.9px){

    .customers__info{
        flex-direction: column;
    }

    .customers__content{
        margin: 0;
        margin: 0 auto;
    }

}

@media (max-width: 931.9px){

    .connect{
        padding-bottom: 124px;
    }

    .product__items{
        flex-direction: column;
    }

    .product__item{
        margin: 0 auto;
    }

    .product__item:not(:last-child){
        margin-bottom: 15px;
    }

}

@media (max-width: 924.9px){

    .services__items{
        flex-direction: column;
    }

    .services__item{
        margin: 0 auto;
    }

    .services__item:not(:last-child){
        margin-bottom: 35px;
    }

}

@media (max-width: 913.9px){

    .connect__items{
        flex-direction: column;
    }

    .connect__item{
        margin: 0 auto;
    }

    .connect__item:not(:last-child){
        margin-bottom: 15px;
    }

}



@media (max-width: 767.9px){
   
    .menu-btn{
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        order: 1; /*меняет расположение флекс элементов,
        то есть бургер идет в конец*/
        border: none;
        cursor: pointer;
        position: relative;

        z-index: 2;
    }

    /* рисивание бургера */
    .btn-line{
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
        height: 2px;

        transition: .3s ease-in-out;
    }

    .btn-line:nth-child(1){
        top: 0;
    }
    .btn-line:nth-child(2){
        top: 20px;
    }
    .btn-line:nth-child(3){
        top: 20px;
    }
    .btn-line:nth-child(4){
        top: 40px;
    }

    .menu-open .btn-line:nth-child(1){
        transform: scaleX(0);
    }

    .menu-open .btn-line:nth-child(2){
        transform: rotate(45deg);
    }

    .menu-open .btn-line:nth-child(3){
        transform: rotate(-45deg);
    }

    .menu-open .btn-line:nth-child(4){
        transform: scaleX(0);
    }

    .nav__items{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;

        background-color: #000;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding-top: 56px;

        transform: translateY(-100%); /*убирает бургер меню*/
        transition: .3s ease;
    }

    .menu-open .nav__items{
        transform: translateY(0%);
    }

    .nav__item {
        margin: 50px 0;
    }

    .nav__link{
        font-size: 44px;
    }

    .logo{
        position: relative;
        z-index: 2;
    }

}

@media (max-width: 678.9px){

    .save{
        padding-bottom: 40px;
    }

    .services{
        padding: 60px 0 80px 0;
    }

    .connect{
        padding-bottom: 60px;
    }

    .start{
        flex-direction: column;
        padding: 0 70px;
    }

    .website__input{
        width: 100%;
        margin-bottom: 20px;
    }

}

@media (max-width: 567.9px){

    .header__title{
        margin-bottom: 20px;
    }

    .title{
        font-size: 40px;
    }

    .save__title{
        font-size: 40px;
    }

    .company__title{
        font-size: 40px;
    }

    .website__title{
        font-size: 40px;
    }

    .website{
        padding: 45px 0;
    }

    .footer{
        margin: 0;
        padding: 30px 0;
    }

    /* .footer{
        padding: 30px 0;
    } */

}

@media (max-width: 542.9px){

    .footer__info{
        max-width: 245px;
        font-size: 12px;
    }

    .footer__text{
        font-size: 14px;
    }

    .footer__title{
        font-size: 18px;
    }

   .info__item{
    font-size: 14px;
   }

}